/* Header */
.appBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: #413620;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .Composant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  h1 {
    color: #ffffff;
  }
  
  .logo {
    height: 100px;
    width: 100px;
    margin-right: 20px;
  }
  
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .Btn {
    font-weight: bold;
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-right: 5px;
    height: auto;
  }
  
  