.navBody {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}

.navBody a {
    color: white;
}

li {
    text-align: center;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: Red;
}

.profil {
    background-color: #04AA6D;
}