
body { 
   background-color: #B0B0B0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    grid-gap: 10px; /* Espacement entre les colonnes */
  }
  
  .content-text {
    background-color: #f2f2f2;
    padding: 4vh;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .content-image {
    background-image: url(../images/namour.png);
    background-size: 280px 250px; /* Ajuste la taille de l'image en fonction de la largeur */
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ccc; /* Réduit la taille de la bordure */
  }