
section {
    display: flex;
    width: 100%;
    background: #EEE;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.text { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: normal;
    margin: 0;
    font-size: 3em;

}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 3em;
    font-size: 3em;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}